{% import "macro.jinja.html" as func %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title> {% block header %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width" />
    <!-- Using TocasUI-2.4-alpha -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tocas.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='css/tocas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/check.js') }}"></script>
</head>
<body>
    <div class="ts menu">
    <a href="{{ url_for('index') }}" class="item">首頁</a>
    {% if session['user']  %}
        <div class="ts item dropdown" onclick="ts('.ts.dropdown:not(.basic)').dropdown();">
            <div class="text">
                成績表
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
                {{ func.scoreboard() }}
            </div>

        </div>
    {% else %}
    {% endif %}
        <div class="right menu">
        {% if session['user'] %}
        <a href="{{ url_for('logout') }}" class="item">登出</a>
        {% else %}
        {% endif %}
        <a href="https://github.com/racterub/tyshscore-web" class="item">GitHub</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="ts narrow container">
        <div class="ts raised negative center aligned very padded segment">
            <h1 class="ts header">{{ context }}</h1>
        </div>
        <div class="ts fluid bottom attached buttons">
            <button class="ts info button" onclick="history.go(-1)"> 返回上一頁 </button>
        </div>
    </div>
</body>
</html>
