{% import "macro.jinja.html" as score %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title> {% block header %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width" />
    <!-- Using TocasUI-2.4-alpha -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tocas.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='css/tocas.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/check.js') }}"></script>
    <style type="text/css">
        * {
        -webkit-overflow-scrolling: touch;
        }
    </style>
</head>
<body>
    <div id="loading" class="ts active dimmer" style="display: none;">
        <div class="ts loader"></div>
    </div>
    <div class="ts big left sidebar inverted overlapped vertical menu">
        <div class="ts attached inverted menu">
            <a onclick="ts('.left.inverted.sidebar').sidebar('hide');" class="item">
                <i class="chevron left icon"></i>
            </a>
            {% if session['user'] %}
            <a class="item">
                <p>嗨，{{ stdid }}</p>
            </a>
                <div class="right menu">
                    <a class="item" href="{{ url_for('logout') }}">登出</a>
                </div>
            {% endif %}
        </div>
        <a href="{{ url_for('index') }}" class="{% block active_mobile_home %}{% endblock %} item">首頁</a>
        {% if session['user'] %}
            <div class="item">
                成績表
                <div class="menu">
                    {% if count %}
                        {{ score.scoreboard(count) }}
                    {% else %}
                        {{ score.scoreboard() }}
                    {% endif %}
                </div>
            </div>
            <a href="{{ url_for('history_pr') }}" class="{% block active_mobile_pr %}{% endblock %} item">歷年獎懲</a>
            <a href="#" class="disabled item">缺曠紀錄</a>
        {% endif %}
        <a href="https://github.com/racterub/tyshscore-web" class="item">GitHub</a>
    </div>
    <div class="pusher">
        <div class="large device only">
            <div class="ts {% if parent_mode %} inverted negative {% endif %} top attached menu">
                <a href="{{ url_for('index') }}" class="{% block active_large_home %}{% endblock %} item">首頁</a>
                {% if session['user']  %}
                    <div class="ts item dropdown" onclick="ts('.ts.dropdown:not(.basic)').dropdown();">
                        <div class="text">
                            成績表
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% if count %}
                                {{ score.scoreboard(count) }}
                            {% else %}
                                {{ score.scoreboard() }}
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ url_for('history_pr') }}" class="{% block active_large_pr %}{% endblock %} item">歷年獎懲</a>
                    <a href="#" class="disabled item">缺曠紀錄</a>
                {% else %}
                {% endif %}
                    <div class="right menu">
                    {% if session['user'] %}
                        <div class="ts item dropdown" onclick="ts('.ts.dropdown:not(.basic)').dropdown();">
                            <div class="text">
                                嗨, {{ stdid }} !
                            </div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a class="item" href="{{ url_for('logout') }}">登出</a>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                    <a href="https://github.com/racterub/tyshscore-web" class="item">GitHub</a>
                    </div>
            </div>
            <div class="ts hidden divider"></div>
        </div>
        <div class="mobile or tablet only">
            <div class="ts menu">
                <a onclick="ts('.left.inverted.sidebar').sidebar({
                    dimPage: true,
                    scrollLock: true
                    }).sidebar('toggle');" class="item">
                    <i class="list layout icon"></i>
                </a>
            </div>
        </div>
            {% if session['user'] %}
                {% block authed %}
                {% endblock %}
            {% else %}
                {% block body %}
                {% endblock %}
            {% endif %}
    </div>
</body>
</html>
