{% extends "layout.html" %}
{% block header %} TYSH | 成績 {% endblock %}
{% block authed %}
    <br>
    <br>
    <h1 class="ts center aligned dividing header">{% if count|int >3 %}平時成績{% else %}第{{ count }}次段考{% endif %}</h1>
    <table class="ts large celled striped fixed table">
        <thead>
            <tr>
                {% for i in head %}
                <th class="center aligned">{{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in body %}
                <tr>
                    {% for k in i %}
                        {% if k is string %}
                            <td class="center aligned">{{ k }}</td>
                        {% else %}
                            <td class="center aligned {% if k|float < 60.0 %}negative{% endif %}">{{ k }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
